.banner {
  display: flex;
  justify-content: space-between;
}

.banner-left {
  max-width: 20rem;
  margin-right: 10rem;
}

.banner-right {
  width: 50%;
}
.banner-right img {
  width: 80%;
  margin-bottom: 5rem;
}
